@charset "UTF-8";
/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em; }

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none; }

a:hover, a:active {
  color: red;
  text-decoration: underline; }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

/* Region Colors. delete when starting a new theme. */
#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 960px;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
  @media screen and (max-width: 768px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }

#mfPreviewBar, #mfPreviewBarShow, .feed-icon, #content-header h1 {
  display: none; }

#page {
  font-family: "Figgins Sans"; }
  #page h1, #page h2 {
    font-family: "Sackers Gothic Std Medium";
    text-transform: lowercase;
    font-size: 1.3em;
    font-weight: normal; }
  #page a {
    text-decoration: none;
    color: #231f20; }
  #page a:hover {
    color: #9c999a; }
  #page img {
    height: auto; }
  #page p {
    color: #9c999a;
    font-size: 1.3em;
    line-height: 1.5em; }
  #page .read-more {
    display: block;
    padding: 10px 0; }
    #page .read-more:after {
      content: " →"; }
    #page .read-more strong {
      font-weight: normal; }
  #page #fixed {
    width: 100%;
    max-width: 960px;
    padding: 20px 0;
    background: white;
    position: fixed;
    z-index: 100; }
    @media screen and (max-width: 700px) {
      #page #fixed {
        position: static; } }
  #page #header {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 14.89362%;
    background: none; }
    #page #header:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #page #header {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 100%; }
        #page #header:last-child {
          margin-right: 0; } }
    #page #header img {
      display: block;
      float: left;
      margin-right: 14.28571%;
      width: 100%; }
      #page #header img:last-child {
        margin-right: 0; }
      @media screen and (max-width: 700px) {
        #page #header img {
          display: block;
          float: left;
          margin-right: 4.34783%;
          width: 100%; }
          #page #header img:last-child {
            margin-right: 0; } }
  #page #navigation {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 82.97872%;
    margin-right: 0;
    padding: 20px 0 0 0;
    background: white;
    font-family: "Sackers Gothic Std Medium";
    color: #9c999a;
    text-transform: lowercase;
    font-size: 14px; }
    #page #navigation:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #page #navigation {
        *zoom: 1;
        display: block;
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px; }
        #page #navigation:before, #page #navigation:after {
          content: " ";
          display: table; }
        #page #navigation:after {
          clear: both; }
        #page #navigation:last-child {
          margin-right: 0; } }
    #page #navigation ul {
      float: right; }
      @media screen and (max-width: 700px) {
        #page #navigation ul {
          float: none; } }
    #page #navigation li {
      padding: 0 0 0 20px; }
      @media screen and (max-width: 700px) {
        #page #navigation li {
          *zoom: 1;
          display: block;
          width: 100%;
          padding: 10px 0;
          text-align: center; }
          #page #navigation li:before, #page #navigation li:after {
            content: " ";
            display: table; }
          #page #navigation li:after {
            clear: both; } }
      #page #navigation li a {
        color: #9c999a; }
        #page #navigation li a:hover {
          color: #231f20; }
        #page #navigation li a.active {
          color: #231f20; }
  #page #main {
    padding: 120px 0 0 0; }
    @media screen and (max-width: 700px) {
      #page #main {
        padding: 20px 0 0 0; } }
  #page #block-views-home_slide-block h2 {
    display: none; }
  #page #block-views-home_slide-block img {
    *zoom: 1;
    display: block;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 100%;
    padding: 20px 0; }
    #page #block-views-home_slide-block img:before, #page #block-views-home_slide-block img:after {
      content: " ";
      display: table; }
    #page #block-views-home_slide-block img:after {
      clear: both; }
    #page #block-views-home_slide-block img:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #page #block-views-home_slide-block img {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        #page #block-views-home_slide-block img:last-child {
          margin-right: 0; } }
  .front #page #block-system-main {
    border-bottom: 1px solid #cccccc; }
  #page #node-50 {
    *zoom: 1;
    display: block;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 82.97872%;
    margin-left: 8.51064%;
    text-align: center; }
    #page #node-50:before, #page #node-50:after {
      content: " ";
      display: table; }
    #page #node-50:after {
      clear: both; }
    #page #node-50:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #page #node-50 {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        #page #node-50:last-child {
          margin-right: 0; } }
    #page #node-50 h2 {
      font-size: 2.5em; }
      @media screen and (max-width: 700px) {
        #page #node-50 h2 {
          font-size: 1.5em; } }
    #page #node-50 p {
      font-size: 1.5em; }
      @media screen and (max-width: 700px) {
        #page #node-50 p {
          font-size: 1em; } }
    #page #node-50 .read-more {
      font-size: 14px; }
  #page #block-block-4 {
    padding: 20px 0;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 40.42553%; }
    #page #block-block-4:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #page #block-block-4 {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        #page #block-block-4:last-child {
          margin-right: 0; } }
    #page #block-block-4 h2 {
      font-size: 14px; }
    #page #block-block-4 img {
      display: block;
      float: left;
      margin-right: 5.26316%;
      width: 100%;
      padding: 0 0 20px 0; }
      #page #block-block-4 img:last-child {
        margin-right: 0; }
  #page #block-block-3 {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 6.38298%;
    background: url("../images/bg-border.png") repeat-y top left;
    height: 1000px; }
    #page #block-block-3:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #page #block-block-3 {
        display: none; } }
  #page #block-views-news-block {
    padding: 20px 0;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%;
    margin-right: 0; }
    #page #block-views-news-block:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #page #block-views-news-block {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        #page #block-views-news-block:last-child {
          margin-right: 0; } }
    #page #block-views-news-block h2 {
      font-size: 12px; }
    #page #block-views-news-block p {
      font-size: 14px; }
    #page #block-views-news-block .views-row {
      margin-bottom: 20px;
      *zoom: 1;
      display: block; }
      #page #block-views-news-block .views-row:before, #page #block-views-news-block .views-row:after {
        content: " ";
        display: table; }
      #page #block-views-news-block .views-row:after {
        clear: both; }
      #page #block-views-news-block .views-row header, #page #block-views-news-block .views-row img, #page #block-views-news-block .views-row .field-name-body {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 47.82609%; }
        #page #block-views-news-block .views-row header:last-child, #page #block-views-news-block .views-row img:last-child, #page #block-views-news-block .views-row .field-name-body:last-child {
          margin-right: 0; }
        @media screen and (max-width: 700px) {
          #page #block-views-news-block .views-row header, #page #block-views-news-block .views-row img, #page #block-views-news-block .views-row .field-name-body {
            display: block;
            float: left;
            margin-right: 9.09091%;
            width: 100%; }
            #page #block-views-news-block .views-row header:last-child, #page #block-views-news-block .views-row img:last-child, #page #block-views-news-block .views-row .field-name-body:last-child {
              margin-right: 0; } }
      #page #block-views-news-block .views-row header, #page #block-views-news-block .views-row .field-name-body {
        float: right;
        margin-right: 0; }
      #page #block-views-news-block .views-row header {
        font-family: "Sackers Gothic Std Medium"; }
      #page #block-views-news-block .views-row ul.links {
        float: left; }
  #page .view-id-bonsai .views-exposed-form {
    padding: 20px 0; }
    #page .view-id-bonsai .views-exposed-form label {
      font-weight: normal; }
    #page .view-id-bonsai .views-exposed-form .views-exposed-widget {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 23.40426%; }
      #page .view-id-bonsai .views-exposed-form .views-exposed-widget:last-child {
        margin-right: 0; }
      #page .view-id-bonsai .views-exposed-form .views-exposed-widget:nth-child(4n) {
        margin-right: 0; }
      @media screen and (max-width: 700px) {
        #page .view-id-bonsai .views-exposed-form .views-exposed-widget {
          display: block;
          float: left;
          margin-right: 4.34783%;
          width: 47.82609%;
          padding: 30px 0 0 0; }
          #page .view-id-bonsai .views-exposed-form .views-exposed-widget:last-child {
            margin-right: 0; }
          #page .view-id-bonsai .views-exposed-form .views-exposed-widget:nth-child(2n) {
            margin-right: 0; } }
      #page .view-id-bonsai .views-exposed-form .views-exposed-widget > label {
        font-family: "Sackers Gothic Std Medium"; }
      #page .view-id-bonsai .views-exposed-form .views-exposed-widget .form-item-field-date-acquired-value .form-type-bef-checkbox {
        float: left;
        padding: 0 30px 0 0; }
  #page .view-id-bonsai .views-row {
    *zoom: 1;
    display: block;
    padding: 10px 0 0 0;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    color: #9c999a; }
    #page .view-id-bonsai .views-row:before, #page .view-id-bonsai .views-row:after {
      content: " ";
      display: table; }
    #page .view-id-bonsai .views-row:after {
      clear: both; }
    #page .view-id-bonsai .views-row:last-child {
      margin-right: 0; }
    #page .view-id-bonsai .views-row:nth-child(3n) {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      #page .view-id-bonsai .views-row {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        #page .view-id-bonsai .views-row:last-child {
          margin-right: 0; }
        #page .view-id-bonsai .views-row a {
          pointer-events: none;
          cursor: default; } }
    #page .view-id-bonsai .views-row img {
      display: block;
      float: left;
      margin-right: 6.66667%;
      width: 100%;
      padding: 10px 0; }
      #page .view-id-bonsai .views-row img:last-child {
        margin-right: 0; }
    #page .view-id-bonsai .views-row .views-field-title {
      font-family: "Sackers Gothic Std Medium";
      font-size: 1.1em;
      text-transform: lowercase; }
    #page .view-id-bonsai .views-row .views-field-field-region, #page .view-id-bonsai .views-row .views-field-field-tree-year {
      float: left;
      padding: 5px 10px 5px 0; }
    #page .view-id-bonsai .views-row .views-label-field-date-acquired {
      float: left;
      padding: 5px 3px 5px 0; }
    #page .view-id-bonsai .views-row .views-field-field-date-acquired .field-content {
      float: left;
      padding: 5px 0 5px 0; }
    #page .view-id-bonsai .views-row .read-more {
      display: none; }
  #page #footer {
    margin-top: 20px;
    border-top: 1px solid #cccccc;
    background: url("../images/footer-circle.png") no-repeat top left white;
    padding: 45px 0; }
    .front #page #footer {
      margin-top: 0; }
    #page #footer .block-title {
      display: none; }
    #page #footer p {
      font: 10px "Sackers Gothic Std Medium", Arial, sans-serif;
      text-transform: lowercase;
      float: right; }
    @media screen and (max-width: 700px) {
      #page #footer {
        background: none; } }

.page-our-story #heading-block {
  padding: 20px 0 0 0;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 17.02128%;
  text-align: center; }
  .page-our-story #heading-block:last-child {
    margin-right: 0; }
  .page-our-story #heading-block p {
    padding: 20px 0;
    font-family: "Sackers Gothic Std Medium";
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.7em;
    color: #231f20; }
.page-our-story #ryan {
  border-top: 1px solid #cccccc;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  padding: 30px 0; }
  .page-our-story #ryan:last-child {
    margin-right: 0; }
  .page-our-story #ryan h2, .page-our-story #ryan p, .page-our-story #ryan img {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .page-our-story #ryan h2:last-child, .page-our-story #ryan p:last-child, .page-our-story #ryan img:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .page-our-story #ryan h2, .page-our-story #ryan p, .page-our-story #ryan img {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        .page-our-story #ryan h2:last-child, .page-our-story #ryan p:last-child, .page-our-story #ryan img:last-child {
          margin-right: 0; } }
  .page-our-story #ryan h2, .page-our-story #ryan p {
    margin-right: 0; }
.page-our-story #pull-quote {
  padding: 30px 0;
  border: 1px solid #cccccc;
  border-width: 1px 0 1px 0;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%; }
  .page-our-story #pull-quote:last-child {
    margin-right: 0; }
  .page-our-story #pull-quote p {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 65.95745%;
    margin-left: 17.02128%;
    font-style: italic;
    text-align: center;
    color: #231f20;
    font-size: 1.4em; }
    .page-our-story #pull-quote p:last-child {
      margin-right: 0; }
.page-our-story .boxes {
  padding: 30px 0;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .page-our-story .boxes:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    .page-our-story .boxes {
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 65.21739%;
      margin-left: 17.3913%; }
      .page-our-story .boxes:last-child {
        margin-right: 0; } }
  .page-our-story .boxes img {
    display: block;
    float: left;
    margin-right: 4.34783%;
    width: 47.82609%;
    padding: 0 0 10px 0; }
    .page-our-story .boxes img:last-child {
      margin-right: 0; }
.page-our-story #our-process {
  margin-right: 0; }
.page-our-story #block-views-story_gallery-block {
  padding: 30px 0 0 0;
  border-top: 1px solid #cccccc; }
  .page-our-story #block-views-story_gallery-block .view-content h2, .page-our-story #block-views-story_gallery-block h2.block-title {
    display: none; }
  .page-our-story #block-views-story_gallery-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
    float: left;
    margin-right: 8px; }
    .page-our-story #block-views-story_gallery-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item.views-row-last {
      margin: 0; }
    @media screen and (max-width: 700px) {
      .page-our-story #block-views-story_gallery-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
        display: none; } }
  .page-our-story #block-views-story_gallery-block .view-content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 74.46809%; }
    .page-our-story #block-views-story_gallery-block .view-content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .page-our-story #block-views-story_gallery-block .view-content img {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 100%;
        margin-left: 17.3913%;
        padding: 20px 0; }
        .page-our-story #block-views-story_gallery-block .view-content img:last-child {
          margin-right: 0; } }
  .page-our-story #block-views-story_gallery-block .view-footer {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-right: 0; }
    .page-our-story #block-views-story_gallery-block .view-footer:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .page-our-story #block-views-story_gallery-block .view-footer {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        .page-our-story #block-views-story_gallery-block .view-footer:last-child {
          margin-right: 0; } }
    .page-our-story #block-views-story_gallery-block .view-footer p {
      font-size: 16px; }

.page-blog .view-id-blog {
  padding: 30px 0;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 17.02128%; }
  .page-blog .view-id-blog:last-child {
    margin-right: 0; }
  .page-blog .view-id-blog img {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 100%;
    padding: 10px 0; }
    .page-blog .view-id-blog img:last-child {
      margin-right: 0; }
  @media screen and (max-width: 700px) {
    .page-blog .view-id-blog h2 {
      padding: 30px 0 0 0; }
    .page-blog .view-id-blog img, .page-blog .view-id-blog p, .page-blog .view-id-blog .field-name-field-tags {
      *zoom: 1;
      display: block;
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 65.21739%; }
      .page-blog .view-id-blog img:before, .page-blog .view-id-blog img:after, .page-blog .view-id-blog p:before, .page-blog .view-id-blog p:after, .page-blog .view-id-blog .field-name-field-tags:before, .page-blog .view-id-blog .field-name-field-tags:after {
        content: " ";
        display: table; }
      .page-blog .view-id-blog img:after, .page-blog .view-id-blog p:after, .page-blog .view-id-blog .field-name-field-tags:after {
        clear: both; }
      .page-blog .view-id-blog img:last-child, .page-blog .view-id-blog p:last-child, .page-blog .view-id-blog .field-name-field-tags:last-child {
        margin-right: 0; } }
  .page-blog .view-id-blog .views-row {
    padding: 20px 0;
    margin-bottom: 20px;
    border-top: 1px solid #cccccc; }
    @media screen and (max-width: 700px) {
      .page-blog .view-id-blog .views-row {
        border: none; } }
    .page-blog .view-id-blog .views-row .field-name-field-tags .field-label, .page-blog .view-id-blog .views-row .field-name-field-tags .field-item {
      *zoom: 1;
      display: block;
      float: left;
      padding: 0 10px 0 0;
      font-weight: normal; }
      .page-blog .view-id-blog .views-row .field-name-field-tags .field-label:before, .page-blog .view-id-blog .views-row .field-name-field-tags .field-label:after, .page-blog .view-id-blog .views-row .field-name-field-tags .field-item:before, .page-blog .view-id-blog .views-row .field-name-field-tags .field-item:after {
        content: " ";
        display: table; }
      .page-blog .view-id-blog .views-row .field-name-field-tags .field-label:after, .page-blog .view-id-blog .views-row .field-name-field-tags .field-item:after {
        clear: both; }
  .page-blog .view-id-blog .views-row-first {
    border: none; }

.node-type-news #content-header {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 17.02128%; }
  .node-type-news #content-header:last-child {
    margin-right: 0; }
  .node-type-news #content-header h1 {
    display: block; }
.node-type-news #content-area {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 17.02128%; }
  .node-type-news #content-area:before, .node-type-news #content-area:after {
    content: " ";
    display: table; }
  .node-type-news #content-area:after {
    clear: both; }
  .node-type-news #content-area:last-child {
    margin-right: 0; }
  .node-type-news #content-area img {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 100%;
    padding: 10px 0; }
    .node-type-news #content-area img:last-child {
      margin-right: 0; }
.node-type-news .field-name-field-tags .field-label, .node-type-news .field-name-field-tags .field-item {
  *zoom: 1;
  display: block;
  float: left;
  padding: 0 10px 0 0;
  font-weight: normal; }
  .node-type-news .field-name-field-tags .field-label:before, .node-type-news .field-name-field-tags .field-label:after, .node-type-news .field-name-field-tags .field-item:before, .node-type-news .field-name-field-tags .field-item:after {
    content: " ";
    display: table; }
  .node-type-news .field-name-field-tags .field-label:after, .node-type-news .field-name-field-tags .field-item:after {
    clear: both; }

.page-services #heading-block {
  padding: 50px 0;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cccccc; }
  .page-services #heading-block:last-child {
    margin-right: 0; }
  .page-services #heading-block h2, .page-services #heading-block p {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 82.97872%;
    margin-left: 8.51064%; }
    .page-services #heading-block h2:last-child, .page-services #heading-block p:last-child {
      margin-right: 0; }
.page-services .two {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%;
  padding: 30px 0; }
  .page-services .two:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    .page-services .two {
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 65.21739%;
      margin-left: 17.3913%; }
      .page-services .two:last-child {
        margin-right: 0; } }
  .page-services .two img {
    display: block;
    float: left;
    margin-right: 4.34783%;
    width: 100%;
    padding: 0 0 10px 0; }
    .page-services .two img:last-child {
      margin-right: 0; }
.page-services #collected {
  margin-right: 0; }
.page-services #hr {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  height: 1px;
  border-top: 1px solid #cccccc;
  margin: 30px 0; }
  .page-services #hr:last-child {
    margin-right: 0; }
.page-services .three {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%; }
  .page-services .three:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    .page-services .three {
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 65.21739%;
      margin-left: 17.3913%; }
      .page-services .three:last-child {
        margin-right: 0; } }
.page-services #workshops {
  margin-right: 0; }

.page-thegarden .three {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%; }
  .page-thegarden .three:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    .page-thegarden .three {
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 65.21739%;
      margin-left: 17.3913%; }
      .page-thegarden .three:last-child {
        margin-right: 0; } }
.page-thegarden .view-id-nursery_gallery {
  padding: 30px 0;
  overflow: auto;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 30px; }
  .page-thegarden .view-id-nursery_gallery .view-content {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .page-thegarden .view-id-nursery_gallery .view-content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .page-thegarden .view-id-nursery_gallery .view-content {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        .page-thegarden .view-id-nursery_gallery .view-content:last-child {
          margin-right: 0; } }
  .page-thegarden .view-id-nursery_gallery .view-footer {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 48.93617%;
    margin-right: 0; }
    .page-thegarden .view-id-nursery_gallery .view-footer:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .page-thegarden .view-id-nursery_gallery .view-footer {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        .page-thegarden .view-id-nursery_gallery .view-footer:last-child {
          margin-right: 0; } }

.page-workshops h2.block-title {
  display: none; }
.page-workshops #heading-block {
  border-bottom: 1px solid #cccccc;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  padding: 50px 0;
  margin-bottom: 30px; }
  .page-workshops #heading-block:last-child {
    margin-right: 0; }
  .page-workshops #heading-block h2, .page-workshops #heading-block p {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 82.97872%;
    margin-left: 8.51064%;
    text-align: center; }
    .page-workshops #heading-block h2:last-child, .page-workshops #heading-block p:last-child {
      margin-right: 0; }
.page-workshops #block-views-workshop_gallery-block {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .page-workshops #block-views-workshop_gallery-block:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    .page-workshops #block-views-workshop_gallery-block {
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 65.21739%;
      margin-left: 17.3913%; }
      .page-workshops #block-views-workshop_gallery-block:last-child {
        margin-right: 0; } }
  .page-workshops #block-views-workshop_gallery-block img {
    padding: 0 0 10px 0;
    display: block;
    float: left;
    margin-right: 4.34783%;
    width: 100%; }
    .page-workshops #block-views-workshop_gallery-block img:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .page-workshops #block-views-workshop_gallery-block img {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%; }
        .page-workshops #block-views-workshop_gallery-block img:last-child {
          margin-right: 0; } }
.page-workshops #block-block-6 {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%;
  margin-right: 0;
  padding: 0 0 20px 0; }
  .page-workshops #block-block-6:last-child {
    margin-right: 0; }
  @media screen and (max-width: 700px) {
    .page-workshops #block-block-6 {
      display: block;
      float: left;
      margin-right: 4.34783%;
      width: 65.21739%;
      margin-left: 17.3913%; }
      .page-workshops #block-block-6:last-child {
        margin-right: 0; } }
  .page-workshops #block-block-6 h3 {
    font-weight: normal;
    font-size: 1.3em;
    padding: 20px 0 0 0; }
  .page-workshops #block-block-6 dl {
    font-size: 1.3em;
    line-height: 1.5em; }
  .page-workshops #block-block-6 dd {
    color: #9c999a; }
    .page-workshops #block-block-6 dd span {
      font-style: italic;
      padding: 0 20px 0 0; }
  .page-workshops #block-block-6 dt {
    color: #231f20;
    padding: 10px 0 5px 0; }
.page-workshops #block-system-main {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  border-top: 1px solid #cccccc;
  padding: 30px 0 0 0; }
  .page-workshops #block-system-main:before, .page-workshops #block-system-main:after {
    content: " ";
    display: table; }
  .page-workshops #block-system-main:after {
    clear: both; }
  .page-workshops #block-system-main:last-child {
    margin-right: 0; }
  .page-workshops #block-system-main .three {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%; }
    .page-workshops #block-system-main .three:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .page-workshops #block-system-main .three {
        display: block;
        float: left;
        margin-right: 4.34783%;
        width: 65.21739%;
        margin-left: 17.3913%; }
        .page-workshops #block-system-main .three:last-child {
          margin-right: 0; } }

.page-goods {
  text-align: center; }
  .page-goods #content-header {
    padding: 100px 0 0 0; }
    .page-goods #content-header h1 {
      display: block; }
  .page-goods #content-area {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 65.95745%;
    margin-left: 17.02128%;
    min-height: 8 0px; }
    .page-goods #content-area:last-child {
      margin-right: 0; }

#colorbox {
  font-family: "Figgins Sans"; }
  #colorbox .node-tree {
    *zoom: 1;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0; }
    #colorbox .node-tree:before, #colorbox .node-tree:after {
      content: " ";
      display: table; }
    #colorbox .node-tree:after {
      clear: both; }
    #colorbox .node-tree .field-name-field-tree-image {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 57.44681%;
      margin-top: -40px; }
      #colorbox .node-tree .field-name-field-tree-image:last-child {
        margin-right: 0; }
      #colorbox .node-tree .field-name-field-tree-image li {
        list-style: none;
        margin: 0;
        padding: 0 10px 0 0; }
    #colorbox .node-tree h2 {
      padding: 0 0 0 575px;
      font-family: "Sackers Gothic Std Medium";
      text-transform: lowercase; }
      #colorbox .node-tree h2 a {
        color: #231f20;
        font-size: 14px; }
    #colorbox .node-tree field-name-field-region, #colorbox .node-tree .field-name-field-tree-year, #colorbox .node-tree .field-name-field-date-acquired, #colorbox .node-tree .field-name-body {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 31.91489%;
      margin-right: 0; }
      #colorbox .node-tree field-name-field-region:last-child, #colorbox .node-tree .field-name-field-tree-year:last-child, #colorbox .node-tree .field-name-field-date-acquired:last-child, #colorbox .node-tree .field-name-body:last-child {
        margin-right: 0; }
    #colorbox .node-tree .field-item {
      font-size: 16px;
      line-height: 20px; }
    #colorbox .node-tree .field-name-field-date-acquired .field-label {
      font-weight: normal;
      font-size: 16px; }
    #colorbox .node-tree .field-name-body {
      padding: 10px 0 0 0;
      color: #9c999a; }
  #colorbox #cboxLoadedContent {
    background: white; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 6.38298%, rgba(0, 0, 0, 0) 6.38298%, rgba(0, 0, 0, 0) 8.51064%, #eeeeee 8.51064%, #eeeeee 14.89362%, rgba(0, 0, 0, 0) 14.89362%, rgba(0, 0, 0, 0) 17.02128%, #eeeeee 17.02128%, #eeeeee 23.40426%, rgba(0, 0, 0, 0) 23.40426%, rgba(0, 0, 0, 0) 25.53191%, #eeeeee 25.53191%, #eeeeee 31.91489%, rgba(0, 0, 0, 0) 31.91489%, rgba(0, 0, 0, 0) 34.04255%, #eeeeee 34.04255%, #eeeeee 40.42553%, rgba(0, 0, 0, 0) 40.42553%, rgba(0, 0, 0, 0) 42.55319%, #eeeeee 42.55319%, #eeeeee 48.93617%, rgba(0, 0, 0, 0) 48.93617%, rgba(0, 0, 0, 0) 51.06383%, #eeeeee 51.06383%, #eeeeee 57.44681%, rgba(0, 0, 0, 0) 57.44681%, rgba(0, 0, 0, 0) 59.57447%, #eeeeee 59.57447%, #eeeeee 65.95745%, rgba(0, 0, 0, 0) 65.95745%, rgba(0, 0, 0, 0) 68.08511%, #eeeeee 68.08511%, #eeeeee 74.46809%, rgba(0, 0, 0, 0) 74.46809%, rgba(0, 0, 0, 0) 76.59574%, #eeeeee 76.59574%, #eeeeee 82.97872%, rgba(0, 0, 0, 0) 82.97872%, rgba(0, 0, 0, 0) 85.10638%, #eeeeee 85.10638%, #eeeeee 91.48936%, rgba(0, 0, 0, 0) 91.48936%, rgba(0, 0, 0, 0) 93.61702%, #eeeeee 93.61702%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 960px;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 26.66667%, #eeeeee 26.66667%, #eeeeee 46.66667%, rgba(0, 0, 0, 0) 46.66667%, rgba(0, 0, 0, 0) 53.33333%, #eeeeee 53.33333%, #eeeeee 73.33333%, rgba(0, 0, 0, 0) 73.33333%, rgba(0, 0, 0, 0) 80.0%, #eeeeee 80.0%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
  @media screen and (max-width: 768px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 9.67742%, rgba(0, 0, 0, 0) 9.67742%, rgba(0, 0, 0, 0) 12.90323%, #eeeeee 12.90323%, #eeeeee 22.58065%, rgba(0, 0, 0, 0) 22.58065%, rgba(0, 0, 0, 0) 25.80645%, #eeeeee 25.80645%, #eeeeee 35.48387%, rgba(0, 0, 0, 0) 35.48387%, rgba(0, 0, 0, 0) 38.70968%, #eeeeee 38.70968%, #eeeeee 48.3871%, rgba(0, 0, 0, 0) 48.3871%, rgba(0, 0, 0, 0) 51.6129%, #eeeeee 51.6129%, #eeeeee 61.29032%, rgba(0, 0, 0, 0) 61.29032%, rgba(0, 0, 0, 0) 64.51613%, #eeeeee 64.51613%, #eeeeee 74.19355%, rgba(0, 0, 0, 0) 74.19355%, rgba(0, 0, 0, 0) 77.41935%, #eeeeee 77.41935%, #eeeeee 87.09677%, rgba(0, 0, 0, 0) 87.09677%, rgba(0, 0, 0, 0) 90.32258%, #eeeeee 90.32258%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
  @media screen and (max-width: 700px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 13.04348%, rgba(0, 0, 0, 0) 13.04348%, rgba(0, 0, 0, 0) 17.3913%, #eeeeee 17.3913%, #eeeeee 30.43478%, rgba(0, 0, 0, 0) 30.43478%, rgba(0, 0, 0, 0) 34.78261%, #eeeeee 34.78261%, #eeeeee 47.82609%, rgba(0, 0, 0, 0) 47.82609%, rgba(0, 0, 0, 0) 52.17391%, #eeeeee 52.17391%, #eeeeee 65.21739%, rgba(0, 0, 0, 0) 65.21739%, rgba(0, 0, 0, 0) 69.56522%, #eeeeee 69.56522%, #eeeeee 82.6087%, rgba(0, 0, 0, 0) 82.6087%, rgba(0, 0, 0, 0) 86.95652%, #eeeeee 86.95652%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 13.04348%, rgba(0, 0, 0, 0) 13.04348%, rgba(0, 0, 0, 0) 17.3913%, #eeeeee 17.3913%, #eeeeee 30.43478%, rgba(0, 0, 0, 0) 30.43478%, rgba(0, 0, 0, 0) 34.78261%, #eeeeee 34.78261%, #eeeeee 47.82609%, rgba(0, 0, 0, 0) 47.82609%, rgba(0, 0, 0, 0) 52.17391%, #eeeeee 52.17391%, #eeeeee 65.21739%, rgba(0, 0, 0, 0) 65.21739%, rgba(0, 0, 0, 0) 69.56522%, #eeeeee 69.56522%, #eeeeee 82.6087%, rgba(0, 0, 0, 0) 82.6087%, rgba(0, 0, 0, 0) 86.95652%, #eeeeee 86.95652%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 13.04348%, rgba(0, 0, 0, 0) 13.04348%, rgba(0, 0, 0, 0) 17.3913%, #eeeeee 17.3913%, #eeeeee 30.43478%, rgba(0, 0, 0, 0) 30.43478%, rgba(0, 0, 0, 0) 34.78261%, #eeeeee 34.78261%, #eeeeee 47.82609%, rgba(0, 0, 0, 0) 47.82609%, rgba(0, 0, 0, 0) 52.17391%, #eeeeee 52.17391%, #eeeeee 65.21739%, rgba(0, 0, 0, 0) 65.21739%, rgba(0, 0, 0, 0) 69.56522%, #eeeeee 69.56522%, #eeeeee 82.6087%, rgba(0, 0, 0, 0) 82.6087%, rgba(0, 0, 0, 0) 86.95652%, #eeeeee 86.95652%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 13.04348%, rgba(0, 0, 0, 0) 13.04348%, rgba(0, 0, 0, 0) 17.3913%, #eeeeee 17.3913%, #eeeeee 30.43478%, rgba(0, 0, 0, 0) 30.43478%, rgba(0, 0, 0, 0) 34.78261%, #eeeeee 34.78261%, #eeeeee 47.82609%, rgba(0, 0, 0, 0) 47.82609%, rgba(0, 0, 0, 0) 52.17391%, #eeeeee 52.17391%, #eeeeee 65.21739%, rgba(0, 0, 0, 0) 65.21739%, rgba(0, 0, 0, 0) 69.56522%, #eeeeee 69.56522%, #eeeeee 82.6087%, rgba(0, 0, 0, 0) 82.6087%, rgba(0, 0, 0, 0) 86.95652%, #eeeeee 86.95652%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 13.04348%, rgba(0, 0, 0, 0) 13.04348%, rgba(0, 0, 0, 0) 17.3913%, #eeeeee 17.3913%, #eeeeee 30.43478%, rgba(0, 0, 0, 0) 30.43478%, rgba(0, 0, 0, 0) 34.78261%, #eeeeee 34.78261%, #eeeeee 47.82609%, rgba(0, 0, 0, 0) 47.82609%, rgba(0, 0, 0, 0) 52.17391%, #eeeeee 52.17391%, #eeeeee 65.21739%, rgba(0, 0, 0, 0) 65.21739%, rgba(0, 0, 0, 0) 69.56522%, #eeeeee 69.56522%, #eeeeee 82.6087%, rgba(0, 0, 0, 0) 82.6087%, rgba(0, 0, 0, 0) 86.95652%, #eeeeee 86.95652%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%);
      background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #eeeeee 0, #eeeeee 13.04348%, rgba(0, 0, 0, 0) 13.04348%, rgba(0, 0, 0, 0) 17.3913%, #eeeeee 17.3913%, #eeeeee 30.43478%, rgba(0, 0, 0, 0) 30.43478%, rgba(0, 0, 0, 0) 34.78261%, #eeeeee 34.78261%, #eeeeee 47.82609%, rgba(0, 0, 0, 0) 47.82609%, rgba(0, 0, 0, 0) 52.17391%, #eeeeee 52.17391%, #eeeeee 65.21739%, rgba(0, 0, 0, 0) 65.21739%, rgba(0, 0, 0, 0) 69.56522%, #eeeeee 69.56522%, #eeeeee 82.6087%, rgba(0, 0, 0, 0) 82.6087%, rgba(0, 0, 0, 0) 86.95652%, #eeeeee 86.95652%, #eeeeee 100.0%, rgba(0, 0, 0, 0) 100.0%); } }
