// Custom
// ------
// This file is used to define custom overrides and
// style changes to be used for building your theme.
// Documentation: http://sass-lang.com/docs/yardoc/_index.html

// Import variables and mixins to be used.
@import _config.sass

$mobile: new-breakpoint(max-width 700px 6)

#mfPreviewBar, #mfPreviewBarShow, .feed-icon, #content-header h1
	display: none

#page 
	font-family: $base-font
	
	h1, h2
		font-family: $title-font	
		text-transform: lowercase
		font-size: 1.3em
		font-weight: normal
	
	a
		text-decoration: none
		color: $dark
		
	a:hover
		color: $grey
		
	img
		height: auto
		
	p
		color: $grey
		font-size: 1.3em
		line-height: 1.5em
		
	.read-more
		display: block
		+pad(10px 0)
		&:after
			content: " →"
		strong
			font-weight: normal
			
	#fixed
		+fill-parent()
		max-width: 960px
		+pad(20px 0)
		background: $white
		position: fixed
		z-index: 100
		+media($mobile)
			position: static
	
	#header
		+span-columns(2)
		background: none
		+media($mobile)
			+span-columns(6)
		
		img
			+span-columns(2 of 2)
			+media($mobile)
				+span-columns(6 of 6)
	
	#navigation
		+span-columns(10)
		+omega
		+pad(20px 0 0 0)
		background: $white
		
		+media($mobile)
			+row
			+span-columns(6)
			margin-top: 20px
			margin-bottom: 20px
		
		
		font-family: $title-font
		color: $grey
		text-transform: lowercase
		font-size: 14px
		
		ul
			float: right
			+media($mobile)
				float: none
		
		li
			+pad(0 0 0 20px)
			
			+media($mobile)
				+row
				+fill-parent()
				+pad(10px 0)
				
				text-align: center
				
			a
				color: $grey
				&:hover
					color: $dark
					
				&.active
					color: $dark
					
	#main
		+pad(120px 0 0 0)
		+media($mobile)
			+pad(20px 0 0 0)

	
	#block-views-home_slide-block 		
		
		h2 
			display: none
	
		img
			+row
			+span-columns(12)	
			+pad(20px 0)	
		
			+media($mobile)
				+span-columns(4)
				+shift(1)
			
	.front &
		#block-system-main
			border-bottom: 1px solid $lgrey
		
	
	#node-50
		+row
		+span-columns(10)
		+shift(1)
		
		+media($mobile)
			+span-columns(4)
			+shift(1)
			
			
		text-align: center
		
		h2
			font-size: 2.5em
			+media($mobile)
				font-size: 1.5em
			
		p
			font-size: 1.5em
			+media($mobile)
				font-size: 1em
			
		.read-more
			font-size: 14px
	
	#block-block-4
		+pad(20px 0)
		+span-columns(5)
		
		+media($mobile)
			+span-columns(4)
			+shift(1)
		
		h2
			font-size: 14px			
			
		img
			+span-columns(5 of 5)
			+pad(0 0 20px 0)	
			
	#block-block-3
		+span-columns(1)
		background: url('../images/bg-border.png') repeat-y top left
		height: 1000px
		+media($mobile)
			display: none
		

	#block-views-news-block
		+pad(20px 0)
		+span-columns(6)
		+omega
		
		+media($mobile)
			+span-columns(4)
			+shift(1)
		
		h2
			font-size: 12px
			
		p
			font-size: 14px
			
		
		.views-row
			margin-bottom: 20px
			+row			
			
			header, img, .field-name-body,
				+span-columns(3 of 6)
				
				+media($mobile)
					+span-columns(3 of 3)
				
			header, .field-name-body
				float: right
				+omega
			
			header
				font-family: $title-font

			ul.links
				float: left
	
	.view-id-bonsai
		
		.views-exposed-form 
			+pad(20px 0)
			
			label
				font-weight: normal
				
			.views-exposed-widget 
				+span-columns(3)
				+omega(4n)
				+media($mobile)
					+span-columns(3 of 6)
					+omega(2n)
					+pad(30px 0 0 0)
				
				> label
					font-family: $title-font

				.form-item-field-date-acquired-value .form-type-bef-checkbox
					float: left
					+pad(0 30px 0 0)
		
		.views-row
			+row
			+pad(10px 0 0 0)
			+span-columns(4)
			+omega(3n)
			
			+media($mobile)
				+span-columns(4)
				+shift(1)
				a
					pointer-events: none
					cursor: default
				
			color: $grey
				
			img 
				+span-columns(4 of 4)
				+pad(10px 0)
			
			.views-field-title
				font-family: $title-font
				font-size: 1.1em
				text-transform: lowercase
				
			.views-field-field-region, .views-field-field-tree-year
				float: left
				+pad(5px 10px 5px 0)
				
			.views-label-field-date-acquired
				float: left
				+pad(5px 3px 5px 0)
				
			.views-field-field-date-acquired .field-content
				float: left
				+pad(5px 0 5px 0)
			
			.read-more
				display: none		
				
	#footer
		margin-top: 20px
		.front &
			margin-top: 0
		
		border-top: 1px solid $lgrey
		background: url('../images/footer-circle.png') no-repeat top left #fff
		
		+pad(45px 0)
	
		.block-title
			display: none
		
		p
			font: 10px $title-font, Arial, sans-serif
			text-transform: lowercase
			float: right
			
		+media($mobile)
			background: none
			
.page-our-story
		
	#heading-block
		+pad(20px 0 0 0)
		+span-columns(8)
		+shift(2)
		
		text-align: center
		
		p
			+pad(20px 0)
			font-family: $title-font
			text-transform: uppercase
			font-size: 1.5em
			line-height: 1.7em
			color: $dark
			
			
	#ryan
		border-top: 1px solid $lgrey
		+span-columns(12)
		+pad(30px 0)
		
		h2, p, img
			+span-columns(6 of 12)
			+media($mobile)
				+span-columns(4 of 6)
				+shift(1)
			
		h2, p
			+omega			
			
			
	#pull-quote
		+pad(30px 0)
		border: 1px solid $lgrey
		border-width: 1px 0 1px 0
		+span-columns(12)

		
		p
			+span-columns(8 of 12)
			+shift(2)
			font-style: italic
			text-align: center
			color: $dark
			font-size: 1.4em
			
	
	.boxes
		+pad(30px 0)
		+span-columns(6)
		+media($mobile)
			+span-columns(4 of 6)
			+shift(1)
		img
			+span-columns(3 of 6)
			+pad(0 0 10px 0)

		h2, p			
		
	#our-process
		+omega
		
	#block-views-story_gallery-block
		+pad(30px 0 0 0)
		border-top: 1px solid $lgrey
		
		.view-content h2, h2.block-title
			display: none
			
		.views-slideshow-controls-bottom .views-slideshow-pager-field-item
			float: left
			margin-right: 8px
			&.views-row-last
				margin: 0
				
			+media($mobile)
				display: none
		
		.view-content
			+span-columns(9)
			
			img
				+media($mobile)
					+span-columns(6 of 6)
					+shift(1)
					+pad(20px 0)
				
			
		.view-footer
			+span-columns(3)
			+omega
			+media($mobile)
				+span-columns(4 of 6)
				+shift(1)
			
			p
				font-size: 16px		
				
				
.page-blog
	.view-id-blog
		+pad(30px 0)
		+span-columns(8)
		+shift(2)
		
		img
			+span-columns(8 of 8)
			+pad(10px 0)
		
		+media($mobile)
			h2
				+pad(30px 0 0 0)
			img, p, .field-name-field-tags 
				+row
				+span-columns(4)
				
			
		
		.views-row
			+pad(20px 0)
			margin-bottom: 20px
			border-top: 1px solid $lgrey
			+media($mobile)
				border: none
				
			
				
			.field-name-field-tags 
				.field-label, .field-item
					+row
					float: left
					+pad(0 10px 0 0)
					font-weight: normal
					
		.views-row-first
			border: none
			
.node-type-news
	#content-header
		+span-columns(8)
		+shift(2)
		h1
			display: block
			
			
	#content-area
		+row
		+span-columns(8)
		+shift(2)
		
		img
			+span-columns(8 of 8)
			+pad(10px 0)
		
	.field-name-field-tags 
		.field-label, .field-item
			+row
			float: left
			+pad(0 10px 0 0)
			font-weight: normal
	
		
.page-services

	#heading-block
		+pad(50px 0)
		+span-columns(12)
		text-align: center
		border-bottom: 1px solid $lgrey
		
		h2, p
			+span-columns(10 of 12)
			+shift(1)
		
			
	.two
		+span-columns(6)
		+pad(30px 0)
		
		+media($mobile)
			+span-columns(4 of 6)
			+shift(1)
			
		img
			+span-columns(6 of 6)
			+pad(0 0 10px 0)
		
	#collected
		+omega
		
	#hr
		+span-columns(12)
		height: 1px
		border-top: 1px solid $lgrey
		margin: 30px 0
		
	.three
		+span-columns(4)
		+media($mobile)
			+span-columns(4 of 6)
			+shift(1)
		
	#workshops
		+omega
		
.page-thegarden		
	
	.three
		+span-columns(4)
		+media($mobile)
			+span-columns(4 of 6)
			+shift(1)
			
	.view-id-nursery_gallery
		+pad(30px 0)
		overflow: auto
		border-bottom: 1px solid $lgrey
		margin-bottom: 30px
			
		.view-content
			+span-columns(6)
			+media($mobile)
				+span-columns(4 of 6)
				+shift(1)
			
		.view-footer
			+span-columns(6)		
			+omega
			+media($mobile)
				+span-columns(4 of 6)
				+shift(1)
				
.page-workshops		
		
	h2.block-title
		display: none
		
	#heading-block
		border-bottom: 1px solid $lgrey
		+span-columns(12)
		+pad(50px 0)
		margin-bottom: 30px
		
		h2, p
			+span-columns(10 of 12)
			+shift(1)
			text-align: center
			
	#block-views-workshop_gallery-block
		+span-columns(6)
		+media($mobile)
			+span-columns(4 of 6)
			+shift(1)
			
		img
			+pad(0 0 10px 0)
			+span-columns(6 of 6)
			+media($mobile)
				+span-columns(4 of 6)
		
	#block-block-6
		+span-columns(6)
		+omega
		+pad(0 0 20px 0)
		
		+media($mobile)
			+span-columns(4 of 6)
			+shift(1)
		
		h3
			font-weight: normal
			font-size: 1.3em
			+pad(20px 0 0 0)
			
		dl
			font-size: 1.3em
			line-height: 1.5em
			
		dd
			color: $grey
			span
				font-style: italic
				+pad(0 20px 0 0)
		
		dt
			color: $dark
			+pad(10px 0 5px 0)
		
	#block-system-main
		+row
		+span-columns(12)
		border-top: 1px solid $lgrey
		+pad(30px 0 0 0)
	
		.three
			+span-columns(4 of 12)
			+media($mobile)
				+span-columns(4 of 6)
				+shift(1)
				
.page-goods
	text-align: center
	
	#content-header
		+pad(100px 0 0 0)
		h1 
			display: block
	
	#content-area
		+span-columns(8)
		+shift(2)
		min-height: 8	00px

#colorbox
	font-family: $base-font

	.node-tree
		+outer-container
		+pad(20px 0 0 0)
	
		.field-name-field-tree-image
			+span-columns(7)
			margin-top: -40px
		
			li
				list-style: none
				margin: 0
				+pad(0 10px 0 0)
				
		h2
			+pad(0 0 0 575px) 
			font-family: $title-font
			text-transform: lowercase
			a
				color: $dark
				font-size: 14px
		
			
		field-name-field-region, .field-name-field-tree-year, .field-name-field-date-acquired, .field-name-body
			+span-columns(4)
			+omega	
			
		.field-item
			font-size: 16px
			line-height: 20px
			
		.field-name-field-date-acquired	.field-label
			font-weight: normal
			font-size: 16px
		
		.field-name-body
			+pad(10px 0 0 0)
			color: $grey
			


	#cboxLoadedContent
		background: #fff
		
			
			
			
			